<div class="card bg-dark text-center text-white">
    <img src="http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg" class="card-img" alt="Responsive image" style="width:1365px;height:580px;">
    <div class="card-img-overlay">

<div class="white">
<div class="alert alert-success" *ngIf='message'>{{ message }}</div>
<div class="alert alert-danger" *ngIf='error'>{{ error }}</div>

<div class="container mt">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>User Id</th>
                <th>Book Id</th>
                <th>Email</th>
                <th>Book Name</th>
                <th>Issue</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let request of requests'>
                <td>{{request.id}}</td>
                <td>{{request.uid}}</td>
                <td>{{request.bid}}</td>
                <td>{{request.email}}</td>
                <td>{{request.bookName}}</td>
                <td><button class="btn btn-primary" style="width: 100%;" (click)='bookIssue(request)'>Approve</button></td>
                <td><button class="btn btn-danger" style="width: 100%;" (click)='rejectRequest(request)'>Reject</button></td>
            </tr>

        </tbody>
    </table>

</div>
</div>
</div>
</div>